 @model UserMangement.MVC.Model.OrderFramViewModel

     <div class="panel panel-primary">
         <div class="panel-heading">
             
         </div>
         <div class="panel-body">
             <h3>@Model.Address</h3>
         </div>
     </div>